<sidebar>
  <section>
    <h2>indy.chat</h2>
    <div>
      <a href="https://indy.chat">
        <img src="/img/indy-chat.png" style="max-width: 100%"/>
        <p>Collaborate on Independence related projects.</p>
      </a>
    </div>
  </section>
</sidebar>
