<!doctype html>
<html>

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42479701-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-42479701-2');
  </script>

  <meta charset="utf-8">
  <title>Better Together: The patriotic all-party and non-party campaign for Scotland in the UK | Better Together</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/style.css" rel="stylesheet">
  <link rel="icon" type="image/ico" href="/img/favicon.ico">
</head>

<body>

  <header>
    <h1><a href="/">Better Together</a></h1>

    <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/the-facts">The Facts</a></li>
        <li><a href="/latest-news">Latest News</a></li>
        <!--<li><a href="/resources">Resources</a></li>-->
        <!--<li class="donate"><a href="/contribute">Donate</a></li>-->
      </ul>
    </nav>
  </header>

  <section id="join-us">
    <p>
      Join us to ensure a stronger Scotland:
      <a href="https://www.snp.org/join/member/" class="button-link">SNP</a>
      <a href="https://greens.scot/join" class="button-link">GREENS</a>
    </p>
  </section>

  {{{body}}}

  <footer><div id="footer-wrapper">
    <section id="footer-logo">
      <img src="/img/better-together-footer.jpg" />
    </section>

    <section>
      <h3>Campaign</h3>
      <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
      </ul>
    </section>

    <section>
      <h3>Connect</h3>
      <ul>
        <li><a href="https://twitter.com/UK_Together" target="_blank">Twitter</a></li>
      </ul>
    </section>

    <section>
      <h3>Find out more</h3>
      <ul>
        <li><a href="/the-facts">The Facts</a></li>
      </ul>
    </section>

    <!--<section>
      <a href="" class="button-link">Donate</a>
    </section>-->
  </div></footer>

</body>
</html>
