<main>
  <section id="mainsection">
    <h1>About</h1>
    <div id="content">
      <p>As you may have noticed this is not actually an official
        BetterTogether website. In 2014 I did not vote in the
        independence referendum, while I leaned towards independence I
        did not follow politics very closely, was wary of things that
        looked like nationalism and did not not see an urgent need for
        such a big change.</p>
      <p>5 years later and I am certain I was wrong, I think
        independence from the Tories(or Labour) government is what would
        be best for people in Scotland. I wanted to revive this website as I
        happened across it recently and couldn't help notice how
        badly the promises of the better together compaign held up
        over time.</p>
      <p>If you want to get in touch, have feedback or would like
        to contribute to this or similiar projects. Come join us on
        <a href="https://indy.chat">Slack</a> or <a href="https://github.com/yes-labs/projects">Github</a>.</p>
    </div>
  </section>
  {{>sidebar}}
</main>
