<section id="carousel">

  <div id="carousel-inner">

    <div id="carousel-links">
      <a href="https://indy.chat">
        <h4>Get</h4>
        <h5>Involved</h5>
      </a>
      <a href="/the-facts">
        <h4>Get the facts on why we're</h4>
        <h5>Better Together</h5>
      </a>
    </div>

    <div id="carousel-title">
      <h2>Right now, as part of the UK we are <b>guaranteed</b>
        the worst pension in the developed world <small>(*we may raise retirement age)</small>
        <a href="/the-facts/pension">Find out more</a>
      </h2>
      <div id="carousel-buttons">
        <a class="active">•</a>
        <a>•</a>
      </div>
    </div>

  </div>
  <script src="/js/carousel.js"></script>
</section>

<main class="home">
  <section id="mainsection">
    <h1><span>Latest</span>News</h1>
    <div id="content">
      <article>
        <span class="date">25 September 2019</span>
        <h3>Supreme Court: Suspending Parliament was unlawful</h3>
        <img src="/img/boris.jpg" />
        <p>Our strong and stable leadership has been ruled "unlawful" by  the biased pro EU judges, even the proroguation honestly had absolutely  nothing to do with Brexit.</p>
      </article>
      <article>
        <span class="date">23 September 2019</span>
        <h3>Tory government says Thomas Cook collapse is nothing to do with Brexit at all</h3>
        <img src="/img/thomas-cook.jpg" />
        <p>Thomas Cook itself warned uncertainty around Brexit was hitting bookings industry-wide four months ago.</p>
      </article>
    </div>
  </section>

  {{> sidebar }}

</main>
