<section id="carousel">

  <div id="carousel-inner">

    <div id="carousel-links">
      <a href="https://indy.chat">
        <h4>Get</h4>
        <h5>Involved</h5>
      </a>
      <a href="/the-facts">
        <h4>Get the facts on why we're</h4>
        <h5>Better Together</h5>
      </a>
    </div>

    <div id="carousel-title">
      <h2>Right now, as part of the UK we are <b>guaranteed</b>
        the worst pension in the developed world <small>(*we may raise retirement age)</small>
        <a href="/the-facts/pension">Find out more</a>
      </h2>
      <div id="carousel-buttons">
        <a class="active">•</a>
        <a>•</a>
      </div>
    </div>

  </div>
  <script src="/js/carousel.js"></script>
</section>

<main class="home">
  <section id="mainsection">
    <h1><span>Latest</span>News</h1>
    <div id="content">
      {{#each posts}}
      <article>
        <span class="date">{{moment date "D MMMM YYYY"}}</span>
        <a href="/latest-news/{{slug}}"><h3>{{title}}</h3></a>
        {{{preview}}}
      </article>
      {{/each}}
    </div>
  </section>

  {{> sidebar }}

</main>
