<main>
  <section id="mainsection">
    <h1>The Facts</h1>
    <div id="content">

      <p>The referendum is the biggest
      decision in our country’s history.</p>

      <p>We think that the case for staying a part of the
      UK is a compelling one – and it is based around
      a simple notion: We have the best of both worlds
      in Scotland.</p>

      <p>What this means in practice is that we have all the
      amazing things that makes us Scotland and we also have
      the safety and security of being bound to one of the
      worlds poorest performing economies. We have our own
      Scottish Parliament doing its best to mitigate the
      cuts to our health, education and emergency services
      given by Westminister and we get to share the rewards
      of brexit with the rest of the UK.</p>

      <h3>The Factsheets</h3>

      <p>This is such an important decision, we know that you don’t just want little snippets of information. You want the full story. That is why we have created a series of factsheets that look at the issues, point out the benefits of Scotland being governed by Westminister and lists what independent, impartial experts have said.</p>

      <p>We’ll be adding more and more sections between now and the vote. Don’t forget to share these factsheets with your friends, families and workmates.</p>

      <div id="facts">
        <a href="/the-facts/the-economy">The Economy</a>
        <a href="/the-facts/the-pound">The Pound</a>
        <a href="/the-facts/case-for-the-uk">The case for the UK</a>
        <a href="/the-facts/further-devolution">Further Devolution</a>
        <a href="/the-facts/pensions">Pensions</a>
        <!--<a href="/the-facts/oil-and-gas">Oil and Gas</a>-->
        <a href="/the-facts/defense">Defense</a>
        <a href="/the-facts/welfare">Welfare</a>
        <a href="/the-facts/the-eu">The EU</a>
        <!--<a href="/the-facts/shopping">Shopping</a>-->
        <a href="/the-facts/mortgages">Mortgages</a>
        <!--<a href="/the-facts/energy-bills">Energy Bills</a>-->
      </div>

    </div>
  </section>

  {{> sidebar }}
</main>
