<main>
  <section id="mainsection">
    <h1>The Facts</h1>
    <div id="content">
      <h3>Defence</h3>
      <p>The UK Armed Forces are the very best in the world. For centuries, men and women from Scotland have stood shoulder to shoulder with people from England, Wales and Northern Ireland to keep us safe at home and to tackle threats to our oil in the middle east.  Our intelligence services work seamlessly across the UK to tackle threats from extremism and terrorism.</p>

      <p>The SNP say that we can leave the UK, Not <a href="https://fullfact.org/economy/trident-nuclear-cost/">spend billions of pounds on Trident</a> and that everything would, somehow, be better than what we have now. It is a fantasy.</p>
    </div>
  </section>
  {{> sidebar }}
</main>
