<main>
  <section id="mainsection">
    <h1>The Facts</h1>
    <div id="content">
      <h3>Further Devolution</h3>
      <p>The majority of people in Scotland want to see change. Voting No in the referendum does not mean no change.</p>

      <p>Staying part of the United Kingdom gives Westminister the opportunity to continously undermine the success of our Scottish Parliament.</p>

      <p>There are already some powers agreed for our Parliament. Over the next couple of years Holyrood will take on responsibility for more and more of our taxes. However, it doesn’t end there. All three parties that support Better Together pretend to support giving new
      powers to the Scottish Parliament while <a href="https://www.snp.org/brexit-sees-scottish-tories-mask-slip-over-devolution/">ultimately working to take existing powers away</a>.</p>
    </div>
  </section>
  {{> sidebar }}
</main>
