<main>
  <section id="mainsection">
    <h1>The Facts</h1>
    <div id="content">
      <h3>Mortgages</h3>
      <p>As part of the UK we all benefit from a lower cost of living. Being backed by the strength and security of the larger UK economy means that we all save money on our energy bills.</p>

      <p>In these difficult economic times the last thing we need is for
        Scotland to avoid brexit related rises in household energy bills. Staying together ensures we can pool taxes raised from 30 million UK households rather than letting the burden fall on Scottish consumers alone.</p>
    </div>
  </section>
  {{> sidebar }}
</main>
