<main>
  <section id="mainsection">
    <h1>The Facts</h1>
    <div id="content">
      <h3>Pensions</h3>
      <p>With Scotland’s population ageing faster than the rest of the UK, the best way of ensuring our pensioners receive the <a href="https://www.ftadviser.com/pensions/2018/02/13/uk-state-pension-worst-in-the-developed-world/">worst pension in the developing world</a> is by spreading those increasing costs across 60 million people across the UK – not just 5 million in Scotland.</p>

      <p>The good news is that we are all living longer. However, this means in future Scotland will have a bigger proportion of people of retirement age and less people working than in other parts of the UK. It is a big, big challenge and instead of addressing it, being part of the UK is the best way to deal with this demographic timebomb as it means that we can share the burden across the much bigger population of the entire United Kingdom.</p>

      <p>However, far from being honest about this challenge, the nationalists tell us that Scotland will, in actual fact, not face these problems. They tell us, in the face of all the evidence, that maybe if we spend more money on pensions and less on wars and bombs, not only will we get more generous pensions if we go it alone, they will also be paid earlier.  If something sounds too good to be true, it is usually because it is.</p>
    </div>
  </section>
  {{> sidebar }}
</main>
