<main>
  <section id="mainsection">
    <h1>The Facts</h1>
    <div id="content">
      <h3>The Pound</h3>

      <p>The UK pound is only the <a href="https://www.thelondoneconomic.com/news/pound-sterling-second-worst-performing-currency-in-the-world-today-pipped-only-by-the-madagascan-ariary/29/07/#.XUGSCBc4gkw.facebook">second worst performing currency in the world today</a>. So things could possibly get worse. Using the UK pound has meant we have been protected from the worst of the Eurozone crisis, no austerity here.</p>

      <p>The nationalists assert that the Pound is an internationally traded currency that we are free to use if we wish and while that may be true, leaving the UK would mean losing the control to set monetary policy via the Bank of England that we definitely have now.</p>

    </div>
  </section>
  {{> sidebar }}
</main>
