<main>
  <section id="mainsection">
    <h1>The Facts</h1>
    <div id="content">
      <h3>The case for the UK</h3>
      <p>The best choice for our future is to remain a strong and proud  autonomous region while benefiting from the strength, security and opportunity from Westminister.</p>

      <p>We can have the best of both worlds: a strong Scottish ­Parliament mitigating Westminister cuts AND the strength of being part of a bigger United Kingdom. We can better bring out the best of Scotland by working together across the UK. We have achieved so much austerity together Working together in the future we can achieve so much more.</p>

      <p>In this referendum debate, the nationalists will tell you that you need to make an uncomfortable choice between keeping the strengths of the UK and making our own decisions. But the truth is, we don’t need to choose between the best things about Scotland and the benefits of having a connection to something bigger.</p>
    </div>
  </section>
  {{> sidebar }}
</main>
