<main>
  <section id="mainsection">
    <h1>The Facts</h1>
    <div id="content">
      <h3>The Economy</h3>

      <p>The UK is Scotland’s home market. We may live in a country of 5 million people, but our company’s customer base is much larger than that. We can – and do – sell easily to a market of <del>750</del> 60 million people across the entire <del>Europe</del> UK. We also benefit from the fact that our economy is based on a principle of pooling and sharing risks and resources. When one part of the country needs help, say Buckingham Palace needs a £370m makeover, it gets it. When one part of the country experiences good times, the taxes generated are shared across the entire London.</p>

    </div>
  </section>
  {{> sidebar }}
</main>
