<main>
  <section id="mainsection">
    <h1>The Facts</h1>
    <div id="content">
      <h3>The EU</h3>

      <p>As part of the UK we are one of the ‘Big Three’ in Europe – that means we have enormous influence. We benefit from the UK’s opt-out from the Euro and the UK’s rebate worth £135 per year per household. By telling us that an independent Scotland would remain in the EU, Alex Salmond showed that he was willing to say anything and do anything to get us to vote for independence.</p>

      <p>The UK is one of the most influential members of the European Union. This means that we don’t just sit at the top table, we help make the decisions that affect so many parts of our life here in Scotland.</p>

      <p>Whether or not an independent Scotland would be a member of the European Union was the issue that showed us that the SNP were willing to say anything and do anything in order to get us to vote for independence.</p>

    </div>
  </section>
  {{> sidebar }}
</main>
