<main>
  <section id="mainsection">
    <h1>The Facts</h1>
    <div id="content">
      <h3>Welfare</h3>
      <p>The UK welfare system is based on need not nationality. It means we can share austerity equally right across the UK. Pooling and sharing our resources across the UK makes higher benefit spending in Scotland more affordable.</p>
      <p>The SNP think they can tax high earners and prioritise spending
        on the NHS over the really important things like Trident. They also
        believe in not crippling our NHS with harmful immigration policies, it just isn't credible.</p>
    </div>
  </section>
  {{> sidebar }}
</main>
